.App .copyright {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App {
  background-color: rgb(56, 53, 47);
  padding-top: 40px;
}
.App P {
  padding-bottom: 20PX;
}